$zIndexLine: 1;
$zIndexItem: 2;

.about {
  background: radial-gradient(
    59.86% 50% at 50% 50%,
    rgba(225, 223, 251, 0.5) 0%,
    rgba(225, 223, 251, 0) 100%
  );

  [class~="col"] {
    display: flex;
    justify-content: center;
    z-index: $zIndexItem;
  }

  .codeSection {
    padding: 0px, 16px, 0px, 16px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: 2px 2px 28px 1px rgba(0, 0, 0, 0.04),
      2px 2px 44px 8px rgba(116, 96, 237, 0.08);
    border-radius: 8px;
    width: 100%;
  }

  .cloud {
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain, 360px;
    background-position-y: 0;

    &.one {
      background-image: url("./Cloud1.svg");
      background-position: unset;
      background-size: 100%;
    }
    &.two {
      background-image: url("./Cloud2.svg");
    }
    &.three {
      background-image: url("./Cloud3.svg");
    }
    &.four {
      background-image: url("./Cloud4.svg");
    }
  }

  .wigglyLine {
    position: absolute;
    align-self: center;
    opacity: 0.45;
    z-index: $zIndexLine;
  }
}
