@use "../scss/_variables.scss" as colors;

.pricingList {
  font-size: 14px;
  text-align: left;
}

.featureCard {
  min-height: 501px;
}

.bgLight {
  background-color: colors.$grouparoo-light-violet;
}
