.recordDisplay {
  position: relative;
  @media screen and (min-width: 1200px) {
    top: -12vh;
  }
  @media screen and (max-width: 1200px) {
    margin-left: -10%;
    margin-top: -10%;
  }
}

.container {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 30px;
  position: relative;
  z-index: 2;

  .bottomRow {
    // BS Large
    @media screen and (min-width: 1200px) {
      margin-top: -12%;
    }
  }
}
